<!-- 活动- -->
<script type='text/ng-template' id='activity1.html'>
	<style type="text/css">
		html,body{min-width: 320px;background-color: #fff4d8;}
		.banner_acitvity1{ background: url(a-absorb.jpg) no-repeat top center;padding-top:76.977777%;background-size: contain;-webkit-background-size: contain;}
		.activity_h3{height: 30px;
	    line-height:30px;
	    margin:15px 40px;
	    text-align: center;
	    background: url(essaytitle.png) no-repeat;
	    background-size: 100% 100%;
	    color: #9d4d18;
	    font-size: 14px;
	    font-weight: bold;}
	    .g_bg1,.g_bg3{box-sizing: border-box;-webkit-box-sizing: border-box;padding:20px 0;}
	    .g_bg1 .activity_intro{color:#000;line-height:24px;font-size:14px;padding:0 20px;}
	    .activity_intro strong{font-weight: bold; margin-right: 10px}
	    .a-footer{margin:30px 20px 0 20px;}
	    .a-footer a{background-color: #f5e82a;border-bottom: 2px solid #ffaa07; border-radius: 5px;-webkit-border-radius: 5px;width: 110px; height: 40px;line-height: 40px; text-align: center; color: #9e4428; font-size: 18px;}
	    .phonestyle{border:1px solid #ff9d3b; border-radius: 5px; -webkit-border-radius: 5px; padding:10px 10px; font-size: 18px; color: #ff9d3b; font-weight: bold;}
	    .phonestyle .phoneico{ vertical-align: middle; width: 30px; height: 30px; margin-right: 10px;}
	    .mt_10{margin-top:10px;}
	    .mt_15{margin-top:15px;}
	    .fc_orange{color:#ff9d3b}
  	</style>
	<header class='header clearfix'>
		<span class='th'>【生菜金融】-投监会-诚征高见！</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	
	<article class='wap-main'>
		<div class="banner_acitvity1"></div> 
		    <ul class="tc">
			    <li class="mt_10">如果您有任何高见，可通过以下方式联系我们。</li>
			    <li class="mt_15"><span class="phonestyle"><i><img src="../../static/img/activity/investment/phoneico.png" class="phoneico"></i><a href="tel:400-602-7318" class="ve_m fc_orange">400-602-7318</a></span></li>
			    <li class="mt_10">客服工作时间 9:00---18:00</li>
			    <li class="mt_10">投监会邮箱：<strong class="bold">toujianhui@roadoor.com</strong></li>
		    </ul>
	        <div class="g_bg1">
			   	 <h3 class="activity_h3"><strong>第一章  总 则</strong></h3>
			     <p class="activity_intro mt_30"><strong>第一条</strong>本会全称为融道网•生菜金融投资人监督管理委员会，简称融道网•生菜金融投监会。</p>
			     <p class="activity_intro mt_10"><strong>第二条</strong>本会是融道网·生菜金融平台主动倡导，由投资人积极发起并自愿成立、实行自我管理的非营利性群众组织。</p>
			     <p class="activity_intro mt_10"><strong>第三条</strong>本会旨在通过对融道网•生菜金融平台（其运营主体为上海融道网金融信息服务有限公司，以下简称“平台”）的产品、服务等实施有效监督、对借款标的进行现场检查等措施，推动平台信息公开透明、平台运营主体合法合规诚信经营，从而最终达到保护投资人合法权益的目的。</p>
			     <p class="activity_intro mt_10"><strong>第四条</strong>本会所有活动均应当符合国家有关互联网金融或网络借贷信息中介机构监管的相关法律、法规和政策的规定，本着公平、公开、公正和诚实信用的原则正确处理投资人与平台、投资人与借款人、平台与政府相关监管机构的关系。</p>
			     <p class="activity_intro mt_10"><strong>第五条</strong>本会常务委员会在与平台运营主体充分沟通的基础上，遵循合理、合法、有效、公平、公正的原则行使应有的监督管理职能，在行使监督管理职能时，承诺保守平台及平台运营主体的商业秘密、保守平台会员的隐私。</p>


			    <p class="mt_40"><h3 class="activity_h3"><strong>第二章  权利与义务</strong></h3></p>
			     <p class="activity_intro mt_30"><strong>第六条</strong>为切实保护投资人权益，本会的主要职责为监督平台及其运营主体信息披露的真实性、有效性、及时性和完整性，本会行使以上职责的主要手段为对平台的业务实施现场检查，实施现场检查的主体是本会常务委员会。</p>
			      <p class="activity_intro mt_10"><strong>第七条</strong>在法律规定隐私保护的前提条件下，本会可以行使以下职权：</p>
			      <p class="activity_intro mt_10"><strong>（一）</strong>查询平台的背景及资质情况（包括平台的注册登记证照、股东组成、实缴资本、年度审计报告、平台法人代表、实际控制人及高级管理成员的资历资质及变动等）。</p>
			      <p class="activity_intro mt_10"><strong>（二）</strong>查询平台借款人、保证人的相关可披露信息（包括真实姓名、业务规模、资信、抵押、担保、还款计划、还款进度、逾期违约情况等）。</p>
			      <p class="activity_intro mt_10"><strong>（三）</strong>查询平台风控情况（包括风控架构、风控流程、风控制度及制度执行情况、风控的效果、风控中的薄弱环节及改进措施等）。</p>
			      <p class="activity_intro mt_10"><strong>（四）</strong>督促平台根据银监会会同工业和信息化部、公安部、国家互联网信息办公室等部门发布《网络借贷信息中介机构业务活动管理暂行办法（征求意见稿）》，在规定期限内达到投资人资金在银行存管的要求（检查投资人资金开户、平台资金与投资人资金是否严格分开、平台有否自融、有否资金池、有否挪用投资人资金、投资人资金的进出流程是否严密等）。</p>
			      <p class="activity_intro mt_10"><strong>（五）</strong>了解平台的发展战略和发展趋势以及其它可以向本会公布的信息。</p>
			      <p class="activity_intro mt_10"><strong>第八条</strong>本会常务委员会指派的现场检查人员应当客观公正、实事求是、忠诚履职，保守平台及平台运营主体的商业秘密，保守平台会员的隐私，不得向无关第三方泄露。 </p>

			       <p class="mt_40"><h3 class="activity_h3"><strong>第三章  会员</strong></h3></p>

			       <p class="activity_intro mt_30"><strong>第九条</strong>成为本会会员，必须同时具备下列条件：</p>
			      <p class="activity_intro mt_10"><strong>（一）</strong>平台的投资人（个人或机构）均可成为本会会员；</p>
			      <p class="activity_intro mt_10"><strong>（二）</strong>承认本会章程。</p>
			      <p class="activity_intro mt_10"><strong>第十条</strong>会员享有以下权利：</p>
			      <p class="activity_intro mt_10"><strong>（一）</strong>本会会员代表、常务委员会成员的选举权、被选举权；</p>
			      <p class="activity_intro mt_10"><strong>（二）</strong>受本会常务委员会指派或批准，参与现场检查；</p>
			      <p class="activity_intro mt_10"><strong>（三）</strong>查阅本会章程、规章制度、会议记录、会议决议；</p>
			      <p class="activity_intro mt_10"><strong>（四）</strong>对本会常务委员会的批评权、建议权和监督权；</p>
			      <p class="activity_intro mt_10"><strong>（五）</strong>受平台及其运营主体的邀请，参加平台举办的庆典、媒体见面会等各类活动，并发表个人观点。</p>
			      <p class="activity_intro mt_10"><strong>第十一条</strong>会员履行下列义务：</p>
			      <p class="activity_intro mt_10"><strong>（一）</strong>遵守本会的章程；</p>
			      <p class="activity_intro mt_10"><strong>（二）</strong>执行本会及本会常务委员会的决议；</p>
			      <p class="activity_intro mt_10"><strong>（三）</strong>维护本会会员的合法权益；</p>
			      <p class="activity_intro mt_10"><strong>（四）</strong>不得发布虚假信息，不得损害平台、平台运营主体、平台其他会员的利益；</p>
			      <p class="activity_intro mt_10"><strong>（五）</strong>认真完成本会常务委员会布置的其它相关任务。</p>

			      <p class="mt_40"><h3 class="activity_h3"><strong>第四章   组织架构</strong></h3></p>

			      <p class="activity_intro mt_30"><strong>第十二条</strong>本会的最高权力机构是会员代表大会。</p>
				<p class="activity_intro mt_10"><strong>第十三条</strong>会员代表的任职条件：</p>
				<p class="activity_intro mt_10"><strong>（一）</strong>必须是本会会员；</p>
				<p class="activity_intro mt_10"><strong>（二）</strong>未受过剥夺政治权利的刑事处罚。</p>
				<p class="activity_intro mt_10"><strong>第十四条</strong>会员代表候选人由本会会员推举或自荐产生，代表候选人须经公开选举获得参与选举的会员半数以上选票，始得当选。第一次选举由本会筹备组负责组织实施，换届选举由上一届常务委员会组织实施。</p>
				<p class="activity_intro mt_10"><strong>第十五条</strong>会员代表每届任期两年，到期应当换届。会员代表如有严重违反国家法律、法规、本会章程的，经本会常务委员会确认，取消其会员代表资格。</p>
				<p class="activity_intro mt_10"><strong>第十六条</strong>会员代表大会每年召开一次，由本会常务委员会负责召集和主持。会员代表大会须有三分之二以上的会员代表出席方能召开，其决议须经实际参会会员代表三分之二以上表决通过方能生效。经本会常务委员会半数以上成员提议，可以召开临时会员代表大会。召开临时会员代表大会，需提前十日通知会员代表并告知会议议题。</p>
				<p class="activity_intro mt_10">会员代表可以委托其他会员作为代理人出席会议，代理人应当出示授权委托书，在授权范围内行使表决权。</p>
				<p class="activity_intro mt_10"><strong>第十七条</strong>会员代表大会的职权：</p>
				<p class="activity_intro mt_10"><strong>（一）</strong>制定、修改本会章程；</p>
				<p class="activity_intro mt_10"><strong>（二）</strong>制定、修改会员代表、常务委员会成员选举办法；</p>
				<p class="activity_intro mt_10"><strong>（三）</strong>选举或者罢免会员代表、常务委员会成员；</p>
				<p class="activity_intro mt_10"><strong>（四）</strong>审议本会常委会的工作报告和财务报告；</p>
				<p class="activity_intro mt_10"><strong>（五）</strong>改变或者撤销本会常务委员会不适当的决定；</p>
				<p class="activity_intro mt_10"><strong>（六）</strong>决定其它重大事宜。</p>
				<p class="activity_intro mt_10"><strong>第十八条</strong>本会常务委员会（简称常委会）是本会的领导机构，负责领导本会日常工作。常委会成员由会员代表大会选举, 一般不超过25人，其候选人可由会员推举、自荐或协商产生。常委会设会长1名，副会长若干名，秘书长1名，副秘书长若干名,可以特聘名誉会长。常委会成员每届任期两年，到期应当换届，常委会成员可连选连任。</p>
				<p class="activity_intro mt_10"><strong>第十九条</strong>常委会成员必须具备下列条件：</p>
				<p class="activity_intro mt_10"><strong>（一）</strong>坚持党的路线、方针、政策，遵守国家法律法规；</p>
				<p class="activity_intro mt_10"><strong>（二）</strong>自身或其代表的单位在平台有三个月以上的投资行为，且任职期间在平台仍有投资；</p>
				<p class="activity_intro mt_10"><strong>（三）</strong>具有完全民事行为能力，身体健康，能坚持正常工作；</p>
				<p class="activity_intro mt_10"><strong>（四）</strong>未受过剥夺政治权利的刑事处罚； </p>
				<p class="activity_intro mt_10"><strong>（五）</strong>具有金融、法律、财会、公安、司法、党员、国家公务员等相关背景的优先。</p>
				<p class="activity_intro mt_10"><strong>第二十条</strong>常务委员会的职责是：</p>
				<p class="activity_intro mt_10"><strong>（一）</strong>制定常委会内部管理制度，负责本会日常工作；</p>
				<p class="activity_intro mt_10"><strong>（二）</strong>具体实施对平台的现场检查等监督管理职能；</p>
				<p class="activity_intro mt_10"><strong>（三）</strong>负责听取和收集会员的意见与建议，形成对平台客观、完整的反馈，就平台不足之处向平台提出改进建议；</p>
				<p class="activity_intro mt_10"><strong>（四）</strong>通过对平台的深入了解与直接沟通，公正、客观地向会员及社会公众传达平台及其运营主体的真实情况；</p>
				<p class="activity_intro mt_10"><strong>（五）</strong>召集和主持会员代表大会，传达监管平台的相关工作，每年至少向会员公布一次全面的工作报告；</p>
				<p class="activity_intro mt_10"><strong>（六）</strong>商议其它工作事宜。</p>
				<p class="activity_intro mt_10"><strong>第二十一条</strong>常委会会议每季度召开一次，由常委会会长负责召集和主持，会长不能到会主持的，可以委托副会长或秘书长主持会议。常委会会议决议须经实际参会常委会成员三分之二以上同意方能生效。常委会因工作需要，可以召开临时会议。召开临时会议，需提前五日通知常委会成员并告知会议议题。 </p>
				<p class="activity_intro mt_10"><strong>第二十二条</strong>常委会成员应当遵守国家相关法律、法规、规章、制度和本会章程的规定，忠实履行职责，维护会员权益，并遵守下列行为准则：</p>
				<p class="activity_intro mt_10"><strong>（一）</strong>在职务范围内行使权利，不越权；</p>
				<p class="activity_intro mt_10"><strong>（二）</strong>不利用职权为自己或他人谋取不正当利益；</p>
				<p class="activity_intro mt_10"><strong>（三）</strong>不从事损害本会会员利益的活动。</p>
				<p class="activity_intro mt_10"><strong>第二十三条</strong>常委会根据工作需要设立秘书处。秘书处是常委会的日常办事机构，负责处理具体事务工作。秘书处设秘书长1名，需要时设立若干副秘书长或专职人员。</p>
				<p class="activity_intro mt_10"><strong>第二十四条</strong>秘书处职责如下（各分会可根据自身情况灵活设置）：</p>
				<p class="activity_intro mt_10"><strong>（一）</strong>组织协调日常工作；承担有关文件的起草、会议的组织、重要事项的督办、档案及印章的管理等工作。</p>
				<p class="activity_intro mt_10"><strong>（二）</strong>研究网贷行业监管政策、制度、理论和实践。</p>
				<p class="activity_intro mt_10"><strong>（三）</strong>根据本会各项规章制度和办法,具体执行对平台的监管职能。</p>
				<p class="activity_intro mt_10"><strong>（四）</strong>建立会员投诉受理的运行机制，接受会员投诉并进行后续跟踪、反馈。</p>
				<p class="activity_intro mt_10"><strong>（五）</strong>负责本会对外宣传、联络工作，建立与媒体、政府相关职能部门的联系。</p>


				<p class="mt_40"><h3 class="activity_h3"><strong>第五章  经费</strong></h3></p>

				<p class="activity_intro mt_30"><strong>第二十五条</strong>经费来源：按照平台交易额的一定比例提取。具体提取比率以保障本会各项监管职能具体实施的实际需要为原则。</p>
				<p class="activity_intro mt_10"><strong>第二十六条</strong>使用原则：经费只能用于与本会有关的、合理、合法的支出，包括：会务费用、办公费用、聘用专职工作人员的津贴、聘请第三方专业机构的费用及其它必要的费用。</p>
				<p class="activity_intro mt_10"><strong>第二十七条</strong>常委会负责管理、支配本会的经费，财务情况应当向会员代表大会公布，接受会员代表大会的监督检查。</p>
				<p class="activity_intro mt_10"><strong>第二十八条</strong>本会的资产，任何单位、个人不得侵占和挪用。</p>


				<p class="mt_40"><h3 class="activity_h3"><strong>第六章 附则</strong></h3></p>
				<p class="activity_intro mt_30"><strong>第二十九条</strong>本章程的解释权属于本会常务委员会。平台有责任主动倡导、推动更多的社会大众成为本会会员，并推动成立全国各地分会，各地分会依据本章程对平台进行监督管理。在全国各地成立的分会称为融道网·生菜金融投监会某地分会，分会会员选举产生常务委员会，以融道网•生菜金融投监会某地分会或某地分会常务委员会的名义开展工作。</p>
				<p class="activity_intro mt_10"><strong>第三十条</strong>本章程的发布及修订，须经本会会员代表大会三分之二以上表决同意并与平台运营主体协商一致后通过。</p>
				<p class="activity_intro mt_10"><strong>第三十一条</strong>本章程所有条款得到上海融道网金融信息服务有限公司认可，承诺对投监会按本章程行使权利给予积极的配合与支持。</p>
				<p class="activity_intro mt_10"><strong>第三十二条</strong>本章程规定如与国家法律、法规、规章和政策不符的，以国家法律、法规、规章和政策为准。</p>

				<div class="mt_40 a-footer clearfix">
				    <a ui-sref="investment" class="fl ml_20">查看详情</a>
				    <a ui-sref="home" class="fr mr_20">返回</a>
				</div>

				<ul class="tc mt_30">
				    <li class="mt_10">如果您有任何高见，可通过以下方式联系我们。</li>
				    <li class="mt_15"><span class="phonestyle"><i><img src="../../static/img/activity/investment/phoneico.png" class="phoneico"></i><a href="tel:400-602-7318" class="ve_m fc_orange">400-602-7318</a></span></li>
				    <li class="mt_10">客服工作时间 9:00---18:00</li>
				    <li class="mt_10">投监会邮箱：<strong class="bold">toujianhui@roadoor.com</strong></li>
			  </ul>
	 	</div>
	</article>
</script>