<!-- 活动- -->
<script type='text/ng-template' id='landing.html'>
	<style type="text/css">
		.pr_15{padding-right:15px;}
		.pl_15{padding-left:15px;}
	    .mt_5{margin-top:5px;}
	    .mb_5{margin-bottom:5px;}
	    .mt_10{margin-top:10px;}
	    .mt_15{margin-top:15px;}
	    .mr_10{margin-right:10px;}
	    .mr_15{margin-right:15px;}
	    .fc_orange{color:#ff9d3b}
	    .fc_ff4e{color: #ff4e00;}
	    .p20{padding:20px;}
	    .fs_16{font-size:16px;}
	    .fs_18{font-size:18px;}
	    .p10{padding:10px;}
	    .line_h24{line-height:24px;}
	    .line_h40{line-height:40px;}
	    .bg_white{background-color:#fff;}
	    .fc_ff4e{color: #ff4e00;}
	    .fc_53{color: #535353;}
	    .ml_10{margin-left:10px;}
	    .ve_m{vertical-align: middle;}
	    .t_justify{    text-align: justify;}
	    .em {
		    text-indent: 2em;
		}
		.bold{font-weight:bold;}
  	</style>
	<header class='header clearfix'>
		<span class='th'>B轮融资</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	
	<article class='wap-main'>
		<img src="../../static/img/activity/l_banner.jpg" style="width:100%" />    
	    <h2 class="fs_16 tc bold mt_5 mb_5">国资加码 融道网•生菜金融完成B轮融资</h2>
	    <div class="pl_15 pr_15 line_h24 mt_10" style='font-size:14px;'>
	      <p class="t_justify em">近日，上海国资背景互联网金融平台——融道网·生菜金融宣布，继2014年获得上海国资委下属上海科技投资公司（现更名为上海科技创业投资有限公司）战略入股后，又再获B轮国资投资。</p>
	      <p class="t_justify mt_5 em">融道网·生菜金融创始人周汉透露，B轮融资由上海国资委直管、2015世界500强排名第60位的上海汽车集团全资子公司——上海汽车集团股权投资有限公司旗下产业基金——尚颀德连基金领投，上海仪电（集团）有限公司旗下产业基金——云赛创投、以及宽鼎资产、南通梓恒等三家投资机构跟投，投资金额近亿元。他表示，这也是去年12月28日，银监会发布关于《网络借贷信息中介机构业务活动管理暂行办法(征求意见稿)》后，全国范围内国资的首度“出手”互联网金融行业。</p>
	      <p class="t_justify mt_5 em">融道网·生菜金融的A轮国资股东上海科技创业投资有限公司执行董事兼总经理沈伟国表示，融道网·生菜金融是上海科投旗下科技金融板块的重要组成部分，上海科投非常高兴与更多具有产业背景的国资携手，进一步增强融道网·生菜金融的实力，为企业发展注入更强劲的动力。</p>      
	    </div>
	    
	     <h1 class="bg_white pl_15 pr_15 line_h40">
	        <span class="fc_ff4e">|</span><span class="fs_14 fc_53 ml_10 ve_m">布局全国车贷网络</span>
	     </h1>

	    <div class="pl_15 pr_15 line_h24">
	      <p class="t_justify mt_5 em">上海汽车集团股权投资有限公司下属管理公司尚颀资本执行董事巫建军表示，本次投资融道网•生菜金融，从上汽本身来说，是一个重要的战略投资。之所以投资融道网，一方面是看中融道网•生菜金融优秀的管理团队、以及规范透明、稳健的经营理念，更重要的是看中。</p>
	      <p class="t_justify mt_5 em">周汉指出，融道网·生菜金融自从2014年9月9日上线以来，累计交易交易额约10亿元，其中专业二手车贷款交易量已经占到了1/3强，并处于月平均50%高速增长中；与其它网贷企业大肆扩张车贷地面部队不同，融道网·车必贷大多采用与汽车经销商、二手车贷商户的合作来获得资产，目前在全国已经拥有近百家车贷商户合作渠道，为今后与上汽集团旗下各品牌经销网络的合作、快速在全国地区布局经营网络打下了基础。</p>
	    </div>

	    <h1 class="bg_white pl_15 pr_15 line_h40">
	        <span class="fc_ff4e">|</span><span class="fs_14 fc_53 ml_10 ve_m">提升中小企业服务能力</span>
	     </h1>

	    <div class="pl_15 pr_15 line_h24">
	      <p class="t_justify mt_5 em">上海仪电（集团）有限公司旗下产业基金——上海云赛创业投资有限公司总经理许睿介绍，上海仪电（集团）有限公司（简称上海仪电）是上海市国有资产监督管理委员会所属的国有大型企业集团，拥有三家A股上市公司，以“引领信息产业发展，服务智慧城市建设”为使命，致力于成为智慧城市整体解决方案的提供商和运营商；聚焦以物联网、云计算为特征的新一代信息技术产业，形成了以信息技术产业为核心，商务不动产业和非银行金融服务业为支撑的新型产业构架。上海仪电旗下有强大的信息服务业和电子制造业板块和商务不动产业务，其中绿色照明和工程服务、汽车电子和器件制造、消费类电子产品等核心企业，都有与融道网·生菜金融进行供应链金融合作的基础，而仪电遍布上海的10多个精品型商务园区内的创新创业型中小微企业，也都是融道网·生菜金融的潜在服务对象。</p>
	      <p class="t_justify mt_5 em">周汉表示，融道网自2009年成立以来，就以服务中小微企业为企业使命，屡获国家级和市级表彰，2013年5月开始服务的中小微企业融资服务（宝山）平台，还获得了上海市政府颁发的2014上海金融创新奖，并于2015年成为张江宝山园科技融资服务平台，两期共为200多家次宝山中小微企业成功获得1.99亿元贷款。获得上科创A轮战略入股后，整合上科创所投的10家担保公司资源所推出的“保必贷”在1年多时间内已经服务上海147家次中小微企业完成4.5亿元的贷款，还进行了成功的投贷联动尝试，大幅提升了融道网融资服务效率与效能。云赛本次入资，也有望为融道网·生菜金融带来更多的优质中小企业资源，提升融道网·生菜金融在供应链金融创新和投贷联动方面的实力，更好为上海创建全球科技创业中心提供融资服务。</p>
	    </div>

	     <h1 class="bg_white pl_15 pr_15 line_h40">
	        <span class="fc_ff4e">|</span><span class="fs_14 fc_53 ml_10 ve_m">网贷市场长期向好</span>
	     </h1>

	    <div class="pl_15 pr_15 line_h24">
	      <p class="t_justify mt_5 em">宽鼎资产总经理冯文斌也表示，网贷监管征求意见稿的出台，将有力地扭转前几年“劣币驱逐良币”的现象，对于融道网·生菜金融这样严守法律红线、合规、透明经营的企业来说，将非常有利于它们的快速发展，在这个时机投资融道网·生菜金融，也表明了资本市场对于合规经营的网贷企业、对网贷整体行业的长期看好。</p>
	      <p class="t_justify mt_5 em">周汉表示，相比于民营网贷平台和纯国资、国资控股平台，融道网·生菜金融既拥有国资背景的公信力，又在公司治理结构上本身要求的规范经营（如在公司董事会层面、在公司风控委员会层面，均有国资股东成员）；另外，作为全国第一代互联网金融企业，融道网具备在市场上“摸爬滚打“多年带来的敏锐的市场洞察力、灵活的经营机制和极强的执行力，因此旗下生菜金融上线一年左右，就获得60万注册用户、在网贷之家排名中最高名列第17位，在国资平台中名列第2位，在2014年同期上线的平台中名列前茅，并与招商银行建立了战略合作。相信在国资股东和非国资股东的共同支持下，融道网·生菜金融必将进一步发挥混合所有制的巨大优势，成为网贷企业的又一标杆。</p>
	    </div>

	    <div class="pl_15 pr_15 line_h24">
	      <h2 class="bold mt_15 fs_16">有关上海汽车集团股权投资有限公司</h2>
	      <p class="t_justify mt_5 em">上海汽车集团股权投资有限公司（简称“上汽投资”）成立于2011年5月6日，注册资本33亿元。上汽投资是上海汽车集团股份有限公司（股票代码600104，简称“上汽集团”）的全资子公司。上汽集团是国内最大的汽车类上市公司，2015年世界500强排名第60位。</p>
	      <p class="t_justify mt_5 em">上汽投资定位于上汽集团国内专业投资平台，具体业务包括汽车产业链上下游的中长期股权投资、汽车产业以外的中短期投资及其他以财务收益为目标的短期投资。截至2015年底，上汽投资资金管理规模达90亿元。</p>
	      <p class="t_justify mt_5 em">上汽投资定位于利用上汽集团规模大、资源多的优势，充分调动各方资源，提升上汽集团资本运作能力，抓住汽车市场持续增长和中国资本市场蓬勃发展的机遇，与合作企业实现共赢。</p>
	      <h2 class="bold mt_15 fs_18">有关上海云赛创业投资有限公司</h2>
	      <p class="t_justify mt_5 em">上海云赛创业投资有限公司成立于2013年8月，是上海仪电（集团）有限公司旗下专注于中早期项目的产业基金，该基金首期规模3亿元人民币，主要聚焦于云计算、物联网、"信息化、网络化、智能化"的电子产品及解决方案，以及信息技术衍生的新兴产业。</p>
	      <p class="pt_20"><a href="http://m.jfdaily.com/caijing/bwyc/201601/t20160125_2089820.shtml?from=groupmessage&isappinstalled=0" class="fc-blue">原文链接</a></p>
	    </div>
	</article>
</script>