<!-- 我的-我的红包-红包兑换 -->
<script type='text/ng-template' id='cashExchange.html'>	
	<header class='header clearfix'>
		<span class='th'>兑换体验券</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-60'>
			<!--表单模块 s-->
			<div class='form-box mt-10 clearfix'>
				<div class='field autoClear'>
					<div class='label2'>体验券编码</div>
					<div class='field-control'>
						<input type='text' value='' placeholder='请输入兑换体验券' class='input-req'>
					</div>
				</div>
				<p class='fc-red tc mt-10'><i class='iconfont icon-cuowu1'></i>您输入的兑换码有误</p>
				<div class='pd10 mt-15'>
					<button class='btn btn-blue btnSize-1'>确定</button>
				</div>
			</div>
			<!--表单模块 e-->
		</div>
	</article>
</script>