<!-- 债权转让规则 -->
<script type='text/ng-template' id='debtTransferRule.html'>	
	<header class='header clearfix'>
		<span class='th'>债权转让规则</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-20'>
			<div class='planDetails'>
				<h2 class='th mt-10'> 1、投资起息（初始债权形成或转让债权转入）当日即可申请债权转让；</h2>
				<h2 class='th mt-10'> 2、还款日（还息、还本、还本付息）当天不可申请债权转让；</h2>
				<h2 class='th mt-10'> 3、转让手续费： 转出本金0.75%；（2015年8月3日前发布的平台产品(不包含转让标)转让仍按照旧规则收取转让手续费，30天内债转，支付转出本金的1%手续费； 30天后债转，支付转出本金的3‰手续费）；</h2>
				<h2 class='th mt-10'> 4、不可溢价转让：最低转让价格=待收本金-已收收益；最高债转价格=债权公允价值;</h2>
				<h2 class='th mt-10'> 5、债权公允价值 = 剩余债权本金 + 截止今日本期未收利息。</h2>
				<h2 class='th mt-10'> 6、截止昨日本期未收利息：当前还款方式-按期计息计算公式=本期待收利息/D*T，（D是当期还款日期距离上一次还款日的天数间隔,T是距离上一次还款日的天数间隔，不含今日）</h2>
			</div>
		</div>
	</article>
</script>