<!-- 我的-我的流量-余额充流量 -->
<script type='text/ng-template' id='flowRecharge.html'>	
	<header class='header clearfix'>
		<span class='th'>余额冲流量</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-40'>
			<div class='flux-head'>您的当前余额：<em class='fc-red'>{{data.balance}}</em>元</div>
			<div class='flux-rechange-box'>
				<ul class='con clearfix'>
					<li class='on'><span>20M</span></li>
					<li><span>50M</span></li>
					<li><span>100M</span></li>
					<li><span>200M</span></li>
					<li><span>500M</span></li>
					<li><span>1G</span></li>
				</ul>
				<p class='fluxrech-hint'>50M流量包</p>
			</div>
			<div class='show-module'>
				<p class='fs-12'><em class='fc-red'>4.75</em>元</p>
				<p class='fs-10 fc-9'>全国可用，及时生效，当月有效，无限制</p>
			</div>
			<div class='pd10 mt-15'>
				<button class='btn btn-blue btnSize-1'>确定</button>
			</div>
		</div>
	</article>
</script>	