<!-- 我的-我的投资-流标详情 -->
<script type='text/ng-template' id='bustDetail.html'>
	<header class='header clearfix'>
		<span class='th'>{{data.title}}</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-20'>
			<div class='detail-a mt-15'>
				<div class='th'>
					<div class='bd-r'><span class='tit2'>购买金额</span><strong>{{data.bid_amount}}元</strong></div>
				</div>
				<div class='th'>
					<div class='bd-r'><span class='tit2'>利息金额</span><strong>{{data.nbs_amount}}元</strong></div>
				</div>
				<div class='th'>
					<div class='bd-r'><span class='tit2'>年化收益</span><strong>{{data.appr_rate}}%</strong></div>
				</div>
				<div class='th'>
					<div class='bd-r'><span class='tit2'>还款方式</span><strong>{{data.appr_payment}}</strong></div>
				</div>
			</div>
		</div>
	</article>
</script>