<!-- 我的-设置-密码管理 -->
<script type='text/ng-template' id='password.html'>
	<header class='header clearfix'>
		<span class='th'>密码管理</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con'>
			<!--手势密码 s-->
			<div class='detail-a mt-25' ng-show='gesture_show'>
				<a class='th'>
					<div class='bd-r' ng-click='createGesture()'>
						手势密码
						<span class='status'>
							<i ng-show='!is_gesture' class='iconfont icon-zuohuaxian signPwd'></i>
							<i ng-show='is_gesture' class='iconfont icon-youhuakuai signPwd'></i>
						</span>
					</div>
				</a>
				<a class='th' ng-click='modifyGesture()' ng-show='is_gesture'>
					<div class='bd-r'>修改手势密码<i class='icon-fangxiangyou iconfont'></i></div>
				</a>
			</div>
			<!--手势密码 e-->
			
			<!--设置支付密码 s-->
			<div class='detail-a mt-15'>
				<a class='th'>
					<div class='bd-r'>
						支付密码
						<span class='status'>{{auth_status}}</span>
					</div>
				</a>
				<a class='th'>
					<div class='bd-r' ng-click='resetPayPassword()'>
						<span ng-switch='is_auth'>
							<span ng-switch-when='false'>设置支付密码</span>
							<span ng-switch-default>重置支付密码</span>
						</span>
						<i class='icon-fangxiangyou iconfont'></i>
					</div>
				</a>
			</div>
			<!--设置支付密码 e-->
			
			<!--修改登录密码 s-->
			<div class='detail-a mt-15'>
			<!--	<a class='th' ui-sref='resetLoginPassword'>
					<div class='bd-r'>重置登录密码<i class='icon-fangxiangyou iconfont'></i></div>
				</a>-->
				<a class='th' ui-sref='modifyLoginPassword'>
					<div class='bd-r'>修改登录密码<i class='icon-fangxiangyou iconfont'></i></div>
				</a>				
			</div>
			<!--修改登录密码 e-->
		</div>
	</article>  
</script>