<!-- 我的-设置-实名认证 -->
<script type='text/ng-template' id='auth.html'>	
	<header class='header clearfix'>
		<span class='th'>实名认证</span>
		<a ng-show='backEnable' class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
		<a ng-show='!backEnable' ui-sref='account' class='header-r-word'>跳过</a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-60'>
			<!--用户头像 s-->
			<div class='user-top-box'>
				<div class='user-img'>
					<i class='iconfont icon-wode1' ng-if></i>
					<img src='../../static/img/logo2.png' width='100%'/>
				</div>
				<p class='user-phone' ng-show='mobile'>{{mobile | limitTo:3}}****{{mobile | limitTo:-4}}</p>
			</div>
			<!--用户头像 e-->
			<!-- 实名认证审核中 -->
			<div class='form-box mt-15 clearfix' ng-show='auth_status == "1"'>
				<!-- error -->
				<div class='prompt-error'>
					<i class='iconfont icon-cuowu1'></i>
					<span>您的实名认证信息已提交，请耐心等待审核。</span>
				</div>				
			</div>
			<!--表单模块 s-->
			<!-- 实名认证审核未提交或申请失败 -->
			<div class='form-box mt-15 clearfix' ng-show='auth_status != "1"'>
				<form novalidate ng-submit='submit()' name='submitForm' autocomplete='off'>
					<div class='field autoClear'>
						<div class='label2'>真实姓名</div>
						<div class='field-control'>
							<input type='text' name='name' ng-model='name' placeholder='请输入您的真实姓名' class='input-req' required ng-focus>
						</div>
					</div>
					<!-- error -->
					<div class='prompt-error' ng-show='submitForm.name.$invalid && (!submitForm.name.$focused || submitForm.submitted)'>
						<i class='iconfont icon-cuowu1'></i>
						<span ng-show='submitForm.name.$error.required'>请输入您的真实姓名</span>
					</div>					
					<div class='field autoClear select-box'>
						<div class='label2'>证件选择</div>
						<div class='field-control'>
							<select class='input-req' name='paper_code' ng-model='paper_code' ng-options='cert.paper_code as cert.paper_name for cert in paperTypes' required ng-changed>
							</select>
						</div>
					</div>
					<div class='field autoClear'>
						<div class='label2'>身份证号</div>
						<div class='field-control'>
							<input type='text' name='card' ng-model='card' ng-pattern='idCardPattern' placeholder='请输入您的身份证号' class='input-req' required ng-focus>
						</div>
					</div>
					<!-- error -->
					<div class='prompt-error' ng-show='submitForm.card.$invalid && (!submitForm.card.$focused || submitForm.submitted)'>
						<i class='iconfont icon-cuowu1'></i>
						<span ng-show='submitForm.card.$error.required'>请输入身份证号</span>
						<span ng-show='submitForm.card.$error.pattern'>请输入一个正确的身份证号</span>
					</div>		
					<div class='field autoClear'>
						<div class='label3'>设置支付密码</div>
						<div class='field-control'>
							<input type='password' name='password' ng-model='password' ng-minlength='6' ng-maxlength='16' ng-pattern='payPasswordPattern' placeholder='请设置支付密码' class='input-req' required ng-focus>
						</div>
					</div>
					<!-- error -->
					<div class='prompt-error' ng-show='submitForm.password.$invalid && (!submitForm.password.$focused || submitForm.submitted)'>
						<i class='iconfont icon-cuowu1'></i>
						<span ng-show='submitForm.password.$error.required'>请输入支付密码</span>
						<span ng-show='submitForm.password.$error.minlength || submitForm.password.$error.maxlength || submitForm.password.$error.pattern'>支付密码为6-16位数字、字母、特殊符号，至少包含其中两种</span>
					</div>										
					<div class='field autoClear'>
						<div class='label3'>确认支付密码</div>
						<div class='field-control'>
							<input type='password' name='password2' ng-model='password2' ng-minlength='6' ng-maxlength='16' ng-pattern='payPasswordPattern' placeholder='请确认支付密码' class='input-req' required ng-focus password-confirm='password'>
						</div>
					</div>
					<!-- error -->
					<div class='prompt-error' ng-show='submitForm.password2.$invalid && (!submitForm.password2.$focused || submitForm.submitted)'>
						<i class='iconfont icon-cuowu1'></i>
						<span ng-show='submitForm.password2.$error.required'>请确认支付密码</span>
						<span ng-show='submitForm.password2.$error.minlength || submitForm.password2.$error.maxlength || submitForm.password2.$error.pattern'>支付密码为6-16位数字、字母、特殊符号，至少包含其中两种</span>
						<span ng-show='submitForm.password2.$error.repeat'>两次输入的支付密码不一致，请重新输入</span>
					</div>									
					<div class='pd10 mt-15'>
						<button class='btn btnSize-1' ng-class='{"btn-blue":submitForm.$valid}' ng-disabled='!submitForm.$valid'>确定</button>
					</div>
				</form>
			</div>
			<!--表单模块 e-->
		</div>
	</article>
</script>		