<!-- 我的-设置-意见反馈-意见详情 -->
<script type='text/ng-template' id='feedbackDetail.html'>	
	<header class='header clearfix'>
		<span class='th'>意见反馈</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-60'>
			<div class='pd10 fs-12'>
				<p class=' mt-10  fc-3 line-h20 word-break'>{{data.content}}</p>
				<p class=' mt-10 fs-12 clearfix'>
					<span class='fc-9 fl'>{{data.date}}</span>
					<span class='fr'><em class='fc-orange'>{{data.status_desc}}</em></span>
				</p>
			</div>
		</div>
	</article>
</script>