<!-- 更多-关于我们 -->
<script type='text/ng-template' id='about.html'>
	<header class='header clearfix'>
		<span class='th'>关于我们</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<div class='main-con pb-60'>
  			<!--更多模块 s-->
  			<div class='detail-a mt-25'>
				<a class='th' href='#'><div class='bd-r'>平台介绍<i class='icon-fangxiangyou iconfont'></i></div></a>
				<a class='th' href='#'><div class='bd-r'>生菜小子的故事<i class='icon-fangxiangyou iconfont'></i></div></a>
 				<a class='th' href='#'><div class='bd-r'>生菜金融的由来<i class='icon-fangxiangyou iconfont'></i></div></a>
 				<a class='th' href='#'><div class='bd-r'>公司大事件<i class='icon-fangxiangyou iconfont'></i></div></a>
  			</div>
			<!--更多模块 e-->
		</div>
  	</article>
</script>