<!-- 标的扩展信息-投资记录 -->
<script type='text/ng-template' id='investLog.html'>
	<header class='header clearfix'>
		<span class='th'>投资记录</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<!--暂无数据-->
		<div class='no-income tc' ng-show='list.length==0'>
			<img src='../../static/img/nocontent.png' class='no'>
			<p class='fs-14 fc-9 mt-10 pb-10'>暂无数据</p>
		</div>	
		<div class='main-con pb-40' ng-show='list.length>0'>
			<div class='record-page'>
				<table class='record-con' cellspacing='0' cellpadding='0'>
					<tr class='th'>
						<th class='cell'>序号</th>
						<th class='cell'>投资人</th>
						<th class='cell'>投资金额（元）</th>
						<th class='cell'>投资时间</th>
					</tr>
					<tr class='td' ng-repeat='item in list track by $index'>
						<td class='cell'>{{$index+1}}</td>
						<td class='cell'>{{item.mobile | limitTo:3}}****{{item.mobile | limitTo:-4}}</td>
						<td class='cell'>{{item.amount}}</td>
						<td class='cell'>{{item.time}}</td>
					</tr>
				</table>
			</div>
			<div class='pullUpLabel' ng-show='list.length>0'>
				<a ng-click='load()' load-more='cur_status'></a>
			</div>		
		</div>
		
	</article>
</script>