<!-- 理财-投标-红包选择 -->
<script type='text/ng-template' id='bidCash.html'>
	<header class='header clearfix'>
		<span class='th'>我的红包</span>
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
	</header>
	<article class='wap-main'>
		<!--暂无数据-->
		<div class='no-income tc' ng-show='list.length==0'>
			<img src='../../static/img/nocontent.png' class='no'>
			<p class='fs-14 fc-9 mt-10 pb-10'>暂无数据</p>
		</div>
		<div ng-show='list.length>0'>
			<div class='amountDiv'>
				<i class='iconfont icon-wenhao' ui-sref='cashExplanation'></i>
				<span>有<em class='fc-red'>{{data.upcoming}}</em>个红包即将到期</span>
			</div>
			<ul class='clearfix redPageBox'>
				<li class='get-content' ng-repeat='item in list' ng-click='pick(item)'>
					<div class='get-item'>
						<div class='get-top clearfix'></div>
						<div class='get-center'>
							<p class='amount-l'>
								<span class='unit'>¥</span>
								<span class='num'>{{item.amount}}</span><em class=''>元</em>
							</p>
							<div class='explain-c'>
								<h3 class='explain-th'>{{item.type_desc}}</h3>
								<p class='bd'>{{item.limit_desc}}</p>
								<p class='bd'>{{item.condition}}</p>
								<p class='bd'>{{item.enable_duration_date}}</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class='pullUpLabel' ng-show='list.length>0'>
			<a ng-click='load()' load-more='cur_status'></a>
		</div>		
	</article>
</script>