<!-- 老版本android升级 -->
<script type='text/ng-template' id='oldandroid.html'>
	<style>
		html,body{background-color:#52bae7}
	</style>
	<article class='wap-main' style='margin-top:0;'>
		<div style=' width: 86%;text-align: center;margin: 0 auto;'>
	        <img src='../static/img/down/app3_01.jpg' width='100%'>
	        <img src='../static/img/down/app3_02.jpg' width='100%'>
	        <img src='../static/img/down/app3_03.jpg' width='100%'>
	        <img src='../static/img/down/app3_04.jpg' width='100%'>
	        <img src='../static/img/down/app3_05.jpg' width='100%'>
	        <img src='../static/img/down/app3_06.jpg' width='100%'>
     	</div>
  	</article>
</script>