<!-- app升级 -->
<script type='text/ng-template' id='upgrade.html'>
	<header class='header clearfix'>
		<span class='th'><img src='../static/img/logo_top.png'/></span>
		<!--
		<a class='header-l back'><i class='icon-fangxiangzuo iconfont'></i></a>
		-->
	</header>
	<article class='wap-main' style='margin-top:0;'>
		<div class='main-con'>
			<div id='divs2' class='kslider' slide-box>
				<div class='ks_dbox ks_ts'>
					<div class='ks_warp'>
						<a href='javascript:'><img src='../static/img/down/app1.jpg'／></a>
					</div>
					<div class='ks_warp'>
						<a><img src='../static/img/down/app2.jpg'／></a>
					</div>
				</div>
				<ul class='ks_wt'>
					<li class='ks_t2'></li>
					<li></li>
				</ul>
			</div>  
			<div class='downBoxContent'>
				<a ng-click='download()' class='down-btn'>Ios下载</a>
				<a ng-click='download()' class='down-btn'>Android下载</a>
			</div>
		</div>
	</article>
</script>